.start-form {
   background-color: white;
   color: black;
   border: 2px solid red;
   font-family: 'Times New Roman', Times, serif;
   font-size: x-large;
}

.fake-button {
   width: 100px;
   height: 100px;
   font-size: large;
   font-family: 'Times New Roman', Times, serif;
}

.hint-text {
   font-size: small;
}

.tos-text {
   width: 80%;
   height: 200px;
   font-size: small;
   font-family: 'Times New Roman', Times, serif;
   overflow-y: scroll;
}