.start-form {
   background-color: white;
   color: black;
   border: 2px solid red;
   font-family: 'Times New Roman', Times, serif;
   font-size: x-large;
}

.fake-button {
   width: 100px;
   height: 100px;
   font-size: large;
   font-family: 'Times New Roman', Times, serif;
}

.hint-text {
   font-size: small;
}

.tos-text {
   width: 80%;
   height: 200px;
   font-size: small;
   font-family: 'Times New Roman', Times, serif;
   overflow-y: scroll;
}

.on-screen-keyboard {
   display: flex;
   flex-wrap: wrap;
   margin-top: 20px;
   justify-content: center;
}

.on-screen-keyboard button {
   width: 50px;
   height: 50px;
   margin: 2px;
   font-size: 20px;
   font-family: 'Comic Sans MS';
}

.switch-case {
   width: 100px;
}