:root {
  font-family: 'Comic Sans MS', 'Times New Romans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: url('/backstarry.gif');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

h2 {
  /* color: black; */
}

.welcome-gifs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.welcome-gif1 {
  transform: rotate(-13deg);
}

.welcome-gif3 {
  transform: rotate(183deg);
}

.welcome-gif6 {
  transform: rotate(90deg);
}

.important-paragraph {
  width: 50%;
  position: relative;
  margin: 20px;
  padding: 10px;
  left: 75%;
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid red;
}